*.pyc
*.jpg
*.png
*.MP4

db.sqlite3

# Ignore Django migrations
*/__pycache__/*
*/SajilotantraApp/migrations/*
!*/SajilotantraApp/migrations/__init__.py

*/feedback/*
*/static/post_images/*
*/images/*
*/Image/*
*/cover_images/*
*/thumnails/*
*/profile_images/*
*/feedback_files/*