*.pyc
db.sqlite3

# Ignore Django migrations
*/migrations/*
!*/migrations/__init__.py

*/feedback/*
*/post_images/*
*/images/*
*/Image/*
*/cover_images/*
*/thumnails/*
*/profile_images/*
*/feedback_files/*