<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Change Password</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/heroicons/dist/heroicons.min.css"
      rel="stylesheet"
    />
    <script src="static/javascript/message_box.js"></script>
    <link rel="stylesheet" href="static/css/message_box.css" />

    <!-- for the message display -->
    <div id="message-container" class="message-container"></div>
  </head>
  <body class="bg-gray-100">
    <div class="min-h-screen flex items-center justify-center">
      <div class="bg-white p-8 rounded-md shadow-md max-w-md w-full">
        <h1 class="text-2xl font-semibold mb-6 text-center">Change Password</h1>
        <form method="post" class="space-y-4">
          {% csrf_token %} {% if error_message %}
          <p class="text-red-500 text-sm">{{ error_message }}</p>
          {% endif %}

          <!-- Display success message if any -->
          {% if messages %} {% for message in messages %}
          <div
            class="mt-4 p-3 bg-green-200 text-green-800 text-center rounded-md"
          >
            {{ message }}
          </div>

          {% endfor %} {% endif %}

          <div class="flex flex-col space-y-2 relative">
            <label
              for="id_old_password"
              class="text-sm font-semibold flex items-center"
            >
              Old Password:
              <div class="relative">
                <input
                  type="password"
                  id="id_old_password"
                  name="old_password"
                  class="border rounded-md py-2 px-3 pl-10 focus:outline-none focus:border-blue-500"
                  required
                />
                <button
                  type="button"
                  class="absolute inset-y-0 right-0 pr-3 flex items-center focus:outline-none"
                  onclick="togglePassword('id_old_password', 'eyeIconOld')"
                  required
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 text-gray-500"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    id="eyeIconOld"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 12a2 2 0 100-4 2 2 0 000 4z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M19.95 9.48C18.342 5.37 14.268 2.62 10 2.62c-4.269 0-8.342 2.75-9.95 6.86-.152.386-.152.802 0 1.188C1.658 14.63 5.732 17.38 10 17.38c4.269 0 8.342-2.75 9.95-6.86c.152-.386.152-.802 0-1.188zm-2.607.472C16.2 13.33 13.066 16 10 16c-3.066 0-6.2-2.67-7.343-5.05-.18-.454-.18-.946 0-1.4C3.8 6.67 6.934 4 10 4c3.066 0 6.2 2.67 7.343 5.05.18.454.18.946 0 1.4zM10 6a4 4 0 100 8 4 4 0 000-8z"
                    />
                  </svg>
                </button>
              </div>
            </label>
            {% if form.old_password.errors %}
            <p class="text-red-500 text-sm">{{ form.old_password.errors }}</p>
            {% endif %}
          </div>
          <div class="flex flex-col space-y-2 relative">
            <label
              for="id_new_password1"
              class="text-sm font-semibold flex items-center"
            >
              New Password:
              <div class="relative">
                <input
                  type="password"
                  id="id_new_password1"
                  name="new_password1"
                  class="border rounded-md py-2 px-3 pl-10 focus:outline-none focus:border-blue-500"
                  required
                />
                <button
                  type="button"
                  class="absolute inset-y-0 right-0 pr-3 flex items-center focus:outline-none"
                  onclick="togglePassword('id_new_password1', 'eyeIcon1')"
                  required
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 text-gray-500"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    id="eyeIcon1"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 12a2 2 0 100-4 2 2 0 000 4z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M19.95 9.48C18.342 5.37 14.268 2.62 10 2.62c-4.269 0-8.342 2.75-9.95 6.86-.152.386-.152.802 0 1.188C1.658 14.63 5.732 17.38 10 17.38c4.269 0 8.342-2.75 9.95-6.86c.152-.386.152-.802 0-1.188zm-2.607.472C16.2 13.33 13.066 16 10 16c-3.066 0-6.2-2.67-7.343-5.05-.18-.454-.18-.946 0-1.4C3.8 6.67 6.934 4 10 4c3.066 0 6.2 2.67 7.343 5.05.18.454.18.946 0 1.4zM10 6a4 4 0 100 8 4 4 0 000-8z"
                    />
                  </svg>
                </button>
              </div>
            </label>
            {% for error in form.new_password1.errors %}
            <p class="text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="flex flex-col space-y-2 relative">
            <label
              for="id_new_password2"
              class="text-sm font-semibold flex items-center"
              required
            >
              Confirm New Password:
              <div class="relative">
                <input
                  type="password"
                  id="id_new_password2"
                  name="new_password2"
                  class="border rounded-md py-2 px-3 pl-10 focus:outline-none focus:border-blue-500"
                  required
                />
                <button
                  type="button"
                  class="absolute inset-y-0 right-0 pr-3 flex items-center focus:outline-none"
                  onclick="togglePassword('id_new_password2', 'eyeIcon2')"
                  required
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-5 w-5 text-gray-500"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                    id="eyeIcon2"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 12a2 2 0 100-4 2 2 0 000 4z"
                    />
                    <path
                      fill-rule="evenodd"
                      d="M19.95 9.48C18.342 5.37 14.268 2.62 10 2.62c-4.269 0-8.342 2.75-9.95 6.86-.152.386-.152.802 0 1.188C1.658 14.63 5.732 17.38 10 17.38c4.269 0 8.342-2.75 9.95-6.86c.152-.386.152-.802 0-1.188zm-2.607.472C16.2 13.33 13.066 16 10 16c-3.066 0-6.2-2.67-7.343-5.05-.18-.454-.18-.946 0-1.4C3.8 6.67 6.934 4 10 4c3.066 0 6.2 2.67 7.343 5.05.18.454.18.946 0 1.4zM10 6a4 4 0 100 8 4 4 0 000-8z"
                    />
                  </svg>
                </button>
              </div>
            </label>
            {% for error in form.new_password2.errors %}
            <p class="text-red-500 text-sm">{{ error }}</p>
            {% endfor %}
          </div>
          <div class="flex justify-center">
            <button
              type="submit"
              class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600"
            >
              Change Password
            </button>
          </div>
          {% if password_changed %}

          <div
            class="mt-4 p-3 bg-green-200 text-green-800 text-center rounded-md"
          >
            Password changed successfully!
          </div>
          {% endif %}
        </form>
      </div>
    </div>

    <script>
      function togglePassword(inputId, eyeIconId) {
        const passField = document.getElementById(inputId);
        const eyeIcon = document.getElementById(eyeIconId);

        if (passField.type === "password") {
          passField.type = "text";
          eyeIcon.classList.remove("hi-eye");
          eyeIcon.classList.add("hi-eye-off");
        } else {
          passField.type = "password";
          eyeIcon.classList.remove("hi-eye-off");
          eyeIcon.classList.add("hi-eye");
        }
      }
    </script>
  </body>
</html>
