{% extends "index.html" %}

{% block style %}
    <style>
        .calendar-container {
            margin-top:75px;
            border: 1px solid lightgreen;
            border-radius: 1%;
            display: flex;
            padding: 10px;
            align-items: center;
            justify-content: center;
            background-color: white;
            height: auto;
            width: auto;
        }

        #calendar {
            max-width: 1000px; /* Adjust the maximum width as needed */
        }

    </style>
    
{% endblock style %}
   
{% block nav %}
<li>
    <a class="" href="/dashboard">
        <div class="text-xl bg-white text-gray-500 w-10 h-10 flex justify-center items-center rounded-lg mx-auto hover:bg-blue-800 hover:text-white">
            <i class="fa-solid fa-house"></i>
        </div>
    </a>
</li>
<li>
    <a class="" href="/events">
        <div class="text-xl bg-red-800 text-white w-10 h-10 flex justify-center items-center rounded-lg mx-auto hover:bg-blue-800">
            <i class="fa-regular fa-calendar-days"></i>
        </div>
    </a>
</li>
<li>
    <a class="" href="/government_profiles">
        <div class="text-xl bg-white text-gray-500 w-10 h-10 flex justify-center items-center rounded-lg mx-auto hover:bg-blue-800 hover:text-white">
            <i class="fa fa-building-o"></i>
        </div>
    </a>                   
 </li>
 <li>
    <a class="" href="/map/">
        <div class="text-xl bg-white text-gray-500 w-10 h-10 flex justify-center items-center rounded-lg mx-auto hover:bg-blue-800 hover:text-white">
            <i class="fa-solid fa-map-location-dot"></i>                            </div>
    </a>                   
</li>
{% endblock nav %}
{% block events %}
<div class="flex flex-col md:flex-row">
    <div class="w-full md:w-3/5 p-4">
        <div class="container mx-auto my-10">
            <div class="row">
                <div class="calendar-container">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full md:w-2/5 p-4">
        <div class="rounded-lg shadow-xl w-11/12 mx-auto bg-white py-6 px-6" style="margin-top: 75px; margin-bottom: 70px;">
            <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body" id="eventModalBody">Click on the event to view details</div>
                </div>
            </div>
        </div> 
    </div>
</div>

  







<script>
    $(document).ready(function () {
        var calendar = $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            events: '/all_events/',
            eventClick: function (calEvent, jsEvent, view) {
                // Handle event click
                displayEventDetails(calEvent);
            }
        });

        function displayEventDetails(event) {
            // Display event details in the modal
            var modalBody = $('#eventModalBody');
            modalBody.empty();

            modalBody.append('<p style="text-align: center;margin-bottom: 12px;"><strong>' + event.title + '</strong> </p>');

            modalBody.append('<p style="margin-bottom: 8px;"><strong>Start Date:</strong> ' + moment(event.start).format('MMMM DD, YYYY') + '</p>');
            modalBody.append('<p style="margin-bottom: 8px;"><strong>Description:</strong> ' + event.description + '</p>');
            modalBody.append('<p style="margin-bottom: 8px;"><strong>Location:</strong> ' + event.Location + '</p>');
            modalBody.append('<p style="margin-bottom: 8px;"><strong>End Date:</strong> ' + moment(event.end).format('MMMM DD, YYYY') + '</p>');

            // Manually trigger modal opening
            $('#eventModal').modal('show');
        }
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
<!-- <script src="static/javascript/dashboard.js"></script> -->{% endblock events %}