{% extends "index.html" %}
{% load static %}
{% block heading %}
<script src="https://kit.fontawesome.com/c30dadd52a.js" crossorigin="anonymous"></script>
<script src="https://cdn.tailwindcss.com"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css">
<link rel="stylesheet" href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css">

{% endblock heading %}
{% block nav %}
<li>
  <a class="" href="/dashboard">
      <div class="text-xl bg-white text-gray-500 w-10 h-10 flex justify-center items-center rounded-lg mx-auto hover:bg-blue-800 hover:text-white">
          <i class="fa-solid fa-house"></i>
      </div>
  </a>
</li>
<li>
  <a class="" href="/events">
      <div class="text-xl bg-white text-gray-500 w-10 h-10 flex justify-center items-center rounded-lg mx-auto hover:bg-blue-800 hover:text-white">
          <i class="fa-regular fa-calendar-days"></i>
      </div>
  </a>
</li>
<li>
  <a class="" href="/government_profiles">
      <div class="text-xl bg-white text-gray-500 w-10 h-10 flex justify-center items-center rounded-lg mx-auto hover:bg-blue-800 hover:text-white">
          <i class="fa fa-building-o"></i>
      </div>
  </a>                   
</li>
<li>
  <a class="" href="/map/">
      <div class="text-xl bg-white text-gray-500 w-10 h-10 flex justify-center items-center rounded-lg mx-auto hover:bg-blue-800 hover:text-white">
          <i class="fa-solid fa-map-location-dot"></i>                            
      </div>
  </a>                   
</li>
{% endblock nav %}
{% block content %}


<!-- profile section -->
<div id='profile-section'>
  <section class="relative block h-500-px">
    <!-- Display cover photo -->
    {% with profile=user.userprofile %}
    {% if profile and profile.cover %}
    <div class="absolute top-10 w-full h-full bg-center bg-cover" style="
            background-image: url('{{ profile.cover.url }}');
          ">
              {% endif %}
              {% endwith %}
      <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px" style="transform: translateZ(0px)">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" version="1.1" viewBox="0 0 2560 100" x="0" y="0">
        <polygon class="text-blue-50 fill-current" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="relative py-16 bg-blue-50">
    <div class="container mx-auto px-4">
      <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64">
        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
              <div class="relative" style="margin-top: -75px;">
                  {% with profile=user.userprofile %}
                      {% if profile and profile.image %}
                          <img alt="..." src="{{ profile.image.url }}" id="profileImage" class="shadow-lg rounded-full border-0" style="width: 150px; height: 150px;">
                      {% endif %}
                  {% endwith %}
                  <input type="file" id="imageInput" style="display: none;" accept="image/*" onchange="previewImage(event)">
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center">
              <div class="py-6 px-3 mt-32 sm:mt-0">
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4 lg:order-1">
              <div class="flex justify-center py-4 lg:pt-4 pt-2">
                <div class="mr-4 p-3 text-center">
                  <span class="text-xl font-bold block uppercase tracking-wide text-blueGray-600"></span><span class="text-sm text-blueGray-400"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-8">
            <h3 class="text-4xl font-bold leading-normal text-blueGray-700">
				{{ user.first_name }} {{user.last_name}}
			  </h3>
			  <h3 class="text-lg font-semibold leading-normal mb-2 text-gray-500 mb-2">
				@{{ user.username }}
			  </h3>
            <div class="mb-2 text-blueGray-600 mt-10">
            </div>
            <div class="mt-10 py-10 border-t border-blue-50 text-center">
              <div class="flex flex-wrap justify-center">
                <div class="w-full lg:w-9/12 px-4">
                  <p class="mb-4 text-lg leading-relaxed text-blueGray-700">
                    <span id="bioContent">{{ user.userprofile.bio }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
</div>
<style>
	header{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 1000; /* Set a high z-index to ensure the navbar appears above other elements */
		background-color: #fff; /* Set your desired background color */
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for a visual effect */
	}
	
	profile-section {
		padding-top: 60px; /* Adjust this value based on your navbar height */
	}
</style>
<!-- user posts -->
<div class="flex flex-col top-10 items-center justify-center bg-blue-50">
<h2 class="text-3xl font-bold mb-8 text-gray-800 border-b-2 pb-2">Posts by {{ user.username }}</h2>

{% if posts %}
{%for post in posts%}
<main class="w-full flex items-center justify-center">
	<div class="border max-w-screen-md lg:w-full bg-white mt-6 rounded-2xl p-4">
		<div class="flex items-center	justify-between">
			<div class="gap-3.5	flex items-center ">
				<img class="object-cover w-12 h-12 rounded-full" src="{{post.user.image}}" alt="Profile Picture">
				{% comment %} {% if request.user.is_authenticated %} {% endcomment %}


				<div class="flex flex-col">
					<div>
					<b id="name" class="mb-2 capitalize">{{post.user.user.first_name}} {{post.user.user.last_name}}</b>
					<p id="username" class="text-gray-700 text-xs">{{post.user.user}}</p>
					</div>
					{% load tz %}
					<p class="text-gray-400 text-xs">{{post.created_at|timezone:"Asia/Kathmandu"}}
					</p>
				</div>
			</div>
			{% comment %} <div class="bg-gray-100	rounded-full h-3.5 flex	items-center justify-center">
				<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="34px" fill="#92929D">
					<path d="M0 0h24v24H0V0z" fill="none" />
					<path
						d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
				</svg>
			</div> {% endcomment %}

			<!-- Ellipsis menu -->
			<div class="ellipsis-menu">
				<button onclick="toggleMenu('{{ post.id }}')">...</button>
			
				<div id="menuOptions{{ post.id }}" class="menu-options" style="display: none;">
					<form id="deleteForm{{ post.id }}" method="post" action="/delete-post/{{ post.id }}/">
						{% csrf_token %}
						<button type="button" onclick="deletePost('{{ post.id }}')" class="block px-4 py-2 text-sm text-red-600 hover:bg-gray-100" role="menuitem">Delete post</button>
					</form>
			
					<button onclick="reportPost('{{ post.id }}')" class="block px-4 py-2 text-sm text-gray-600 hover:bg-gray-100" role="menuitem">Report post</button>
			
					<div id="reportSubMenu{{ post.id }}" class="report-submenu" style="display: none;">
						<button onclick="reportPost('{{ post.id }}')">Report</button>
					</div>
				</div>
			</div>

<script>
function deletePost(postId) {
if (confirm('Are you sure you want to delete this post?')) {
var xhr = new XMLHttpRequest();
xhr.open("POST", "/delete-post/" + postId + "/");

// Include CSRF token in the request headers
var csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;
xhr.setRequestHeader("X-CSRFToken", csrfToken);

xhr.onload = function () {
	if (xhr.status === 200) {
		alert('Post deleted successfully!');
	} else if (xhr.status === 403) {
		alert('Permission denied. You cannot delete this post.');
	} else {
		alert('Failed to delete post. Please try again.');
	}
};

var payload = "";
xhr.send(payload);
}
}
</script>
			

		</div>
		<div class="whitespace-pre-wrap mt-7">{{posts.decoded_caption}}</div>
		<p class="font-bold text-blue-800">#{{post_category}}</p>
		<div class="mt-2 flex gap-2	 justify-center border-b pb-4 flex-wrap	">
			{% if post.image %}
			{% if post.file_extension == 'mp4' or post.file_extension == 'mov' or post.file_extension == 'avi' %}
				<video class="bg-gray-900 rounded-2xl w-1/3 object-cover flex-auto" controls>
					<source src="{{ post.image.url }}" type="video/mp4">
					Your browser does not support the video tag.
				</video>
			{% else %}
				<img src="{{ post.image }}" class="bg-gray-900 rounded-2xl w-1/3 object-cover flex-auto" alt="photo">
			{% endif %}
		{% endif %}
		</div>
			<div class=" h-16 border-b  flex items-center justify-around	">
				{% comment %} likes {% endcomment %}
				{% csrf_token %}
				
				<div class="flex items-center gap-3">

					<button class="like-button {% if post.id in liked_posts %}liked{% else %}not-liked{% endif %}" data-post-id="{{ post.id }}">
						<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" viewBox="0 0 20 20" fill="currentColor">
							<path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
						</svg>
					</button>
					{% if post.id in liked_posts %}
						{% comment %} {{ post.id }} {# Print the value for debugging #} {% endcomment %}
					{% endif %}                    
					<div class="text-sm" id="like-count-{{ post.id }}">{{ post.like_count }}</div>
				</div>

				


				  
				{% comment %} comment {% endcomment %}
				{% comment %} comment {% endcomment %}
				<div class="flex items-center	gap-3">
					<svg width="20px" height="19px" viewBox="0 0 20 19" version="1.1" xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink">
						<g id="?-Social-Media" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="Square_Timeline" transform="translate(-312.000000, -746.000000)">
								<g id="Post-1" transform="translate(280.000000, 227.000000)">
									<g id="Post-Action" transform="translate(0.000000, 495.000000)">
										<g transform="translate(30.000000, 21.000000)" id="Comment">
											<g>
												<g id="ic_comment-Component/icon/ic_comment">
													<g id="Comments">
														<polygon id="Path" points="0 0 24 0 24 25 0 25"></polygon>
														<g id="iconspace_Chat-3_25px"
															transform="translate(2.000000, 3.000000)" fill="#92929D">
															<path
																d="M10.5139395,15.2840977 L6.06545155,18.6848361 C5.05870104,19.4544672 3.61004168,18.735539 3.60795568,17.4701239 L3.60413773,15.1540669 C1.53288019,14.6559967 0,12.7858138 0,10.5640427 L0,4.72005508 C0,2.11409332 2.10603901,0 4.70588235,0 L15.2941176,0 C17.893961,0 20,2.11409332 20,4.72005508 L20,10.5640427 C20,13.1700044 17.893961,15.2840977 15.2941176,15.2840977 L10.5139395,15.2840977 Z M5.60638935,16.5183044 L9.56815664,13.4896497 C9.74255213,13.3563295 9.955971,13.2840977 10.1754888,13.2840977 L15.2941176,13.2840977 C16.7876789,13.2840977 18,12.0671403 18,10.5640427 L18,4.72005508 C18,3.21695746 16.7876789,2 15.2941176,2 L4.70588235,2 C3.21232108,2 2,3.21695746 2,4.72005508 L2,10.5640427 C2,12.0388485 3.1690612,13.2429664 4.6301335,13.28306 C5.17089106,13.297899 5.60180952,13.7400748 5.60270128,14.2810352 L5.60638935,16.5183044 Z"
																id="Path"></path>
														</g>
													</g>
												</g>
											</g>
										</g>
									</g>
								</g>
							</g>
						</g>
					</svg>
					<div class="text-sm	">{{post.comment_count}} Comments</div>
				</div>
			</div>
			{% comment %} <div class="flex items-center justify-between mt-4">
				<img src="{{user_profile.image.url}}"  class="bg-yellow-500 rounded-full w-10 h-10 object-cover border">
				<div class="flex items-center	justify-between h-11 w-11/12">
					<input id="commentInput" type="text" class="flex items-center	justify-between bg-gray-50 h-11 w-full border rounded-2xl	 overflow-hidden px-4 " placeholder="Write your comment..." name="comment">
				</div>
			</div> {% endcomment %}
			{% comment %} <div class="container px-0 mx-auto sm:px-5"> {% endcomment %}
				{% if post.postcomment_set.all %}
				<div class="overflow-y-scroll h-40" >
				{% for comment in post.postcomment_set.all %}
				<div
					class=" flex-col w-full py-4  mt-3 bg-blue-50 border-b-2 mb-5 border-gray-200 sm:px-4 sm:py-4 md:px-4 sm:rounded-lg sm:shadow-sm">
					<div class="flex flex-row md-10">
						<img class="w-12 h-12 border-2 border-gray-300 rounded-full" alt="Comment Profile"
							src="{{comment.user.image.url}}">
						<div class="flex-col mt-1">
							<div class="flex items-center flex-1 px-4 font-bold leading-tight">{{comment.user.user.first_name}} {{comment.user.user.last_name}}
								<span class="ml-2 text-xs font-normal text-gray-500">{{comment.created_at|timezone:"Asia/Kathmandu"}}</span>
		
								
							</div>
							<p class="px-4 text-smaller font-smaller text-gray-400" >@{{comment.user}}</p>
							<div class="flex-1 px-2 ml-2 text-md font-medium leading-loose text-gray-600"> {{comment.text}}
							</div>
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
			{%endif%}

		
			{% comment %} </div> {% endcomment %}
			{% comment %} {% if messages %}
			<ul class="messages">
				{% for message in messages %}
					<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				{% endfor %}
			</ul>
		{% endif %} {% endcomment %}
							
		<form method="post" action="{% url 'comment_post' post_id=post.id %}">
			{% csrf_token %}
			<label for="chat" class="sr-only">Add a Comment</label>
			<div class="flex items-center px-3 py-2 rounded-lg bg-gray-50">
				<img src="{{auth_profile.image.url}}"  class="bg-yellow-500 rounded-full w-10 h-10 object-cover border">
				<textarea name="commentInput" id="commentInput" rows="1" class="block mx-4 p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Add a Comment..."></textarea>
					<button type="submit" class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:bg-blue-100">
					<svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
						<path d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z"/>
					</svg>
					<span class="sr-only">Comment</span>
				</button>
			</div>
		</form>

	</div>
</main>
{%endfor%}

</div>
</div>			{% else %}
				<img src="{% static 'assets/images/noPost.png' %}" height=500 width=500 alt="No Posts Found"/>
			{% endif %}
<script>
	// For Hamburger Menu
const navLinks = document.querySelector('.nav-links')
function onToggleMenu(e) {
    const isOpen = navLinks.classList.contains('top-[9%]');

    if (isOpen) {
        e.name = 'menu';
    } else {
        e.name = 'close';
    }

    navLinks.classList.toggle('top-[9%]');
}

// {% comment %} For Profile Container {% endcomment %}
const profileContainer = document.getElementById('profileContainer');
const profileDropdown = document.getElementById('profileDropdown');

profileContainer.addEventListener('click', function (event) {
event.stopPropagation(); // Stop the click event from reaching the window
profileDropdown.classList.toggle('hidden');
});

// Close the dropdown if the user clicks outside of it
window.addEventListener('click', function () {
if (!profileDropdown.classList.contains('hidden')) {
    profileDropdown.classList.add('hidden');
}
});

// {% comment %} For Notifications Dropdown {% endcomment %}
const notificationButton = document.getElementById('notificationButton');
const notificationDropdown = document.getElementById('notification-dropdown');

notificationButton.addEventListener('click', function (event) {
event.stopPropagation(); // Stop the click event from reaching the window
notificationDropdown.classList.toggle('hidden');
});

// Close the dropdown if the user clicks outside of it
window.addEventListener('click', function () {
if (!notificationDropdown.classList.contains('hidden')) {
    notificationDropdown.classList.add('hidden');
}
});

// Create Pop-up
document.addEventListener("DOMContentLoaded", function(event) {
document.getElementById('defaultModalButton').click();
});

// For Create Post Modal
const createToggle = document.getElementById('createPostToggle');
const createModal = document.getElementById('createPostModal');

createModal.addEventListener('click', function (event) {
event.stopPropagation(); // Stop the click event from reaching the window
createModal.classList.toggle('hidden');
});

// Close the dropdown if the user clicks outside of it
window.addEventListener('click', function () {
if (!createModal.classList.contains('hidden')) {
    createModal.classList.add('hidden');
}
});

</script>
</div>
{% endblock content %}