{% extends "index.html" %}
{% load static %}
{% block heading %}

{% endblock heading %}
{% block content %}
{% comment %} Cards {% endcomment %}
<section id="blog" class="blog min-h-screen mt-12 items-center justify-center" style="padding-top: 30px;">
  <h1 class="text-4xl font-bold ml-10">Government Profiles</h1>
  <div class="container" data-aos="fade-up">
        <div class="grid  grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-10 items-center justify-center lg:p-10 ml-2 md:ml-20">
          
          {% for p in profiles %}
          <div class="max-w-sm bg-white hover:shadow-indigo-500/60 border border-gray-200 rounded-lg shadow">
            <a href="/government_profile/{{p.profile_id}}">
              <img class="rounded-t-lg w-full h-40 object-cover" src="{{ p.thumbnail.url }}" alt="" />
            </a>
            <div class="p-5">
              <a href="/government_profile/{{p.profile_id}}">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{p.name}}</h5>
              </a>
              <p class="mb-3 font-normal text-gray-700">{{ p.description|truncatewords:10|safe }}</p>
              <a href="/government_profile/{{p.profile_id}}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                View Profile
              </a>
            </div>
          </div>
        {% endfor %}
        
        </div>
    </section>
    

    {% endblock content %}