{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="flex flex-wrap justify-center gap-8 p-8 bg-blue-50">
    {% for p in profiles %}
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
      <a href="{% url 'government_profiles_details' p.pk %}">
          <img class="rounded-t-lg" src="{{ p.thumbnail }}" alt="thumbnail" />
      </a>
      <div class="p-5">
          <a href="{% url 'government_profiles_details' p.pk %}">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ p.name }}</h5>
          </a>
          <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ p.description|truncatewords_html:10 }}</p>
          <a href="{% url 'government_profiles_details' p.pk %}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
              Read more
              <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
          </a>
      </div>
    </div>
    {% endfor %}

    <iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=85.31154155731201%2C27.692759975846467%2C85.31405210494995%2C27.694382067140115&amp;layer=mapnik&amp;marker=27.69357102450623%2C85.31279683113098" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=27.69357&amp;mlon=85.31280#map=19/27.69357/85.31280">View Larger Map</a></small>
  </body>
</html>
