<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>12ka4</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <h1>Rajtantra</h1>
    </header>

    <section>
        <h2>RAJAWADI</h2>
        <p>Raja aau desh bachau</p>
        <p>Durga Prasai jindabaad!</p>
    </section>

    <footer>
        &copy; 2023 Yo chai mero branch. All rights reserved.
    </footer>
</body>
</html>
