<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="styleguide.css" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="header">
      <div class="main">
        <a  href="#"  class="div"><img class="img" src="/static/Image/logo.svg" /> <img class="img" src="/static/Image/logotext.svg" /></a>
        <div class="main-2">
          <div class="icons">
            <a href="#" class="home" ><img class="img-2" src="/static/Image/home.svg" /></a>
            <a  href="#" class="div-2"><img class="img-2" src="/static/Image/calendar.svg" /></a>
            <a  href="#" class="div-2"><img class="img-2" src="/static/Image/group.svg" /></a>
            <a  href="#" class="div-2"><img class="img-2" src="/static/Image/Map.svg" /></a>

            <div class="div-2"></div>
          </div>
          <div class="search">
            <div class="title-wrapper">
              <a  href="#" class="title">
                <input class="type-here-to-search" placeholder="Type here to search..." type="text" />
                <img class="search-icon" src="/static/Image/searchicon.svg" />
              </a>
            </div>
            <div class="right-info">
              <a  href="#" class="div-2"><img class="img-2" src="/static/Image/Message.svg" /></a>
              <a  href="#" class="div-2"><img class="img-2" src="/static/Image/Notification.svg" /></a>
              <a  href="#" class="div">
                <div class="name">
                  <div class="profile-image">
                    <a  href="#" class="overlap-group-2">
                      <div class="rectangle"></div>
                      <div class="rectangle-2"></div>
                      <img class="mask-group" src="/static/Image/nikesh.png" />
                    </a>
                  </div>
                  <div class="AR-jakir">Nikesh</div>
                </div>
                <img class="img-2" src="/static/Image/dropdown.svg" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
