=<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/newpassword.css">
    <style>
        body {
            background-color: #f8f9fa;
            background-image: url('/static/Images/home.jpg');
            background-size: 220vh;
        }
    </style>

    <!-- <style>
        .card {
            border: 0;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            /* Box shadow */
            border-radius: 15px;
            /* Rounded corners */
        }

        .card-body {
            text-align: center;
            /* Center the content */
        }
    </style> -->
</head>

<body>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div class="header bg-primary text-white text-center p-2 mb-4">
                            <img src="/static/Images/Logo.png" alt="Header Image" style="height: 70px;" class="mr-2">
                            <span style="font-size: larger; font-weight: bold;">SajiloTantra
                        </div>
                        <h2 class="text-center mb-2">Change Password</h2>


                        <form method="post">
                            {% csrf_token %}

                            {% if form.non_field_errors %}
                            <div class="alert alert-danger">
                                {% for error in form.non_field_errors %}
                                {{ error }}
                                {% endfor %}
                            </div>
                            {% endif %}

                            {% for field in form %}
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors|striptags }}
                            </div>
                            {% endif %}
                            <br>
                            {% endfor %}

                            <button type="submit">Submit</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and Popper.js scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>