<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <!-- Include the Tailwind CSS CDN or add it to your project -->
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100 flex items-center justify-center h-screen">
    <div class="max-w-md mx-auto bg-white p-8 rounded-md shadow-md">
      <!-- Reset Password Form -->
      <form method="post" action="{% url 'reset_password' %}" class="space-y-4">
        {% csrf_token %}

        <!-- Instruction for the user -->
        <p class="text-gray-600 text-lg">Enter your new password:</p>

        <!-- New Password Input -->
        <div class="mb-4">
          <label
            for="new_password"
            class="block text-sm font-medium text-gray-600"
            >New Password:</label
          >
          <input
            type="password"
            name="new_password"
            required
            class="mt-1 p-2 border rounded-md w-full"
          />
        </div>

        <div class="mb-4">
          <label
            for="new_password"
            class="block text-sm font-medium text-gray-600"
            >Confirm New Password:</label
          >
          <input
            type="password"
            name="confirm_new_password"
            required
            class="mt-1 p-2 border rounded-md w-full"
          />
        </div>

        <!-- Submit Button -->
        <button
          type="submit"
          class="w-full px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-300"
        >
          Reset Password
        </button>
      </form>
    </div>
  </body>
</html>
