<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/login.css" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</head>
<body style="background-color: white;">

    {% for message in messages%}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong>Message:</strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
        <span aria-hidden="true"></span>
    </div>
    {% endfor %}
    <p class="small fw-bold mb-0">
    Don't have an account?
    <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-backdrop="static">Register</a>
    </p>

    {% comment %} modal {% endcomment %}
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Account</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-container">
    <div id="signup-form">
        <form action="/signup" method="post" id="signup">
            {% csrf_token %}
            <div class="form-outline mb-4">
                <input type="text" id="fname" class="form-control form-control-lg" placeholder="Enter your First Name" name="fname" required/>
                <label class="form-label" for="fname">First Name</label>
                <div id="nameWarningSignUp" style="color: red;" class="warning"></div>
              </div>

              <div class="form-outline mb-4">
                  <input type="text" id="lName" class="form-control form-control-lg" placeholder="Enter your Last Name" name="lname" required/>
                  <label class="form-label" for="lName">Last Name</label>
                  <div id="nameWarningSignUp" style="color: red;" class="warning"></div>
              </div>

              <div class="form-outline mb-4">
                <input type="text" id="username" class="form-control form-control-lg" placeholder="Enter your Email" name="username" required/>
                <label class="form-label" for="username">Username</label>
                <div id="emailWarningSignUp" style="color: red;" class="warning"></div>
              </div>

              <div class="form-outline mb-4">
                <input type="email" id="email" class="form-control form-control-lg" placeholder="Enter your Email" name="email" required/>
                <label class="form-label" for="email">Email Address</label>
                <div id="emailWarningSignUp" style="color: red;" class="warning"></div>
              </div>

              <script>
                document.getElementById('signup').addEventListener('submit', function(event) {
                  var email = document.getElementById('email').value;

        
                  var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

                  if (!emailRegex.test(email)) {
                  event.preventDefault(); 
                  alert('Please enter a valid email address.'); 
                }
              });
            </script>

              <div class="form-outline mb-3">
                <input type="password" id="pass1" class="form-control form-control-lg" placeholder="Create a Password" name="pass1" required/>
                <label class="form-label" for="pass1">Password</label>
                <div id="passwordWarningSignUp" style="color: red;" class="warning"></div>
              </div>

              <div class="form-outline mb-3">
                <input type="password" id="pass2" class="form-control form-control-lg" placeholder="Confirm Password" name="pass2" required/>
                <label class="form-label" for="pass2">Confirm Password</label>
                <div id="confirmPasswordWarningSignUp" style="color: red;" class="warning"></div>
              </div>

              <div class="flex items-center mt-2">
                <input type="checkbox" onclick="togglePassword()" id="showPassword" class="hidden">
                <label for="showPassword" class="cursor-pointer">
                    <span class="inline-block w-6 h-6 bg-gray-200 rounded-full relative">
                        <span class="block w-3 h-3 bg-white rounded-full shadow-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 transition duration-300 ease-in-out" id="eyeIcon"></span>
                    </span>
                </label>
                <span class="text-sm ml-2">Show Password</span>
            </div>

              <div class="d-flex justify-content-center ">
                <button id="registerButton" type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
              </div>


              <div id="registrationWarning" class="warning"></div>


        </form>

        <div style = "margin-top: 15px;"></div>

        <div class="signin-link d-flex justify-content-center">
            <p>Already have an account? <a href="/signin">Sign In</a></p>
        </div>

    </div>

    <script>
      document.getElementById('signup').addEventListener('submit', function(event) {
          var password1 = document.getElementById('pass1').value;
          var password2 = document.getElementById('pass2').value;
          var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/;
  
          if (password1 !== password2) {
              event.preventDefault();
              alert('Passwords do not match. Please enter matching passwords.');
          } else if (!passwordRegex.test(password1)) {
              event.preventDefault();
              alert('Password must contain at least 8 characters including one uppercase letter, one lowercase letter, and one number.');
          }
      });
  
      function togglePassword() {
    var pass1 = document.getElementById('pass1');
    var pass2 = document.getElementById('pass2');
    var eyeIcon = document.getElementById('eyeIcon');

    if (pass1.type === "password") {
        pass1.type = "text";
        pass2.type = "text";
        eyeIcon.classList.add('opacity-0');
    } else {
        pass1.type = "password";
        pass2.type = "password";
        eyeIcon.classList.remove('opacity-0');
    }
}

  </script>

</body>
</html>

