<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
    <script src="https://cdn.tailwindcss.com"></script>
 
    <link rel="stylesheet" href="static\css\signin.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/login.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script> 
  </head>

<body>
{% for message in messages %}
  <div id="alert-1" class="flex items-center p-4 mb-4 text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400" role="alert">
    <svg class="flex-shrink-0 w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
    </svg>
    <span class="sr-only">Info</span>
    <div class="ms-3 text-sm font-medium">
      {{message}}
    </div>
    <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-blue-50 text-blue-500 rounded-lg focus:ring-2 focus:ring-blue-400 p-1.5 hover:bg-blue-200 inline-flex items-center justify-center h-8 w-8 dark:bg-gray-800 dark:text-blue-400 dark:hover:bg-gray-700" data-dismiss-target="#alert-1" aria-label="Close">
      <span class="sr-only">Close</span>
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
      </svg>
    </button>
  </div>
{% endfor %}


      <section class="h-100">
        <div class="container h-100 rounded-3">
          <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
              <div class="text-center my-4">
                <img src="\static\assets\images\removed.png" alt="logo" width="500", height="300">
              </div>
              
              <div class="card shadow-lg rounded">
                <div class="card-body p-5 ">
                  <h1 class="fs-4 card-title fw-bold mb-4 text-center">Login</h1>
                  <form method="post" action="/signin">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label class="mb-2 text-muted" for="username">Username</label>
                      <input id="username" type="text" class="form-control" name="username" required >
                      <div class="invalid-feedback">
                        Username is invalid
                      </div>
                    </div>
    
                    <div class="mb-3">
                      <div class="mb-2 w-100">
                        <label class="text-muted" for="pass1">Password</label>
                      </div>
                      <div class="input-group">
                        <input id="pass1" type="password" class="form-control" name="pass1" required>
                        <div class="input-group-append">
                          <button type="button" class="btn btn-outline-secondary" onclick="togglePassword()">
                            <span class="bi bi-eye" id="eyeIcon"></span>
                          </button>
                        </div>
                        <div class="invalid-feedback">
                          Password is required
                        </div>
                      </div>
                    </div>
    
                    <div class="d-flex align-items-center">
                      <div class="form-check">
                        <input type="checkbox" name="remember" id="remember" class="form-check-input">
                        <label for="remember" class="form-check-label">Remember Me</label>
                      </div>
                      <a href="{% url 'password_reset' %}" class="float-end ms-auto ml-2">
                        Forgot Password?
                      </a>
                    </div>
                    <div class="d-flex justify-content-center mb-0">
                      <button type="submit" class="btn btn-primary bg-blue-500 text-white px-4 py-2">
                        Login
                      </button>
                    </div>
                  </form>
                </div>
                <div class="card-footer py-3 border-0 ">
                  <div class="text-center">
                    Don't have an account?<a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-backdrop="static">Register</a>
                  </div>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Create New Account</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="form-container">
                                    <div id="signup-form">
                                        <form action="/signup" method="post" id="signup" onsubmit="return validateEmail();">
                                            {% csrf_token %}
            
                                            <div class="form-outline mb-4">
                                                <input type="text" id="fname" class="form-control form-control-lg" name="fname" required />
                                                <label class="form-label" for="fname">First Name</label>
                                                <!-- <div id="nameWarningSignUp" style="color: red;" class="warning"></div> -->
                                            </div>
            
                                            <div class="form-outline mb-4">
                                                <input type="text" id="lName" class="form-control form-control-lg" name="lname" required />
                                                <label class="form-label" for="lName">Last Name</label>
                                                <div id="nameWarningSignUp" style="color: red;" class="warning"></div>
                                            </div>
            
                                            <div class="form-outline mb-4">
                                                <input type="text" id="username" class="form-control form-control-lg" name="username" required />
                                                <label class="form-label" for="username">Username</label>
                                                <div id="emailWarningSignUp" style="color: red;" class="warning"></div>
                                            </div>
            
                                            <div class="form-outline mb-4">
                                                <input type="email" id="email" class="form-control form-control-lg" name="email" required oninput="clearEmailWarning();" />
                                                <label class="form-label" for="email">Email Address</label>
                                                <div id="emailWarningSignUp" style="color: red;" class="warning"></div>
                                            </div>
            
                                            <div class="form-outline mb-3">
                                                <input type="password" id="pass1" class="form-control form-control-lg" name="pass1" required />
                                                <label class="form-label" for="pass1">Password</label>
                                                <div id="passwordWarningSignUp" style="color: red;" class="warning"></div>
                                            </div>
            
                                            <div class="form-outline mb-3">
                                                <input type="password" id="pass2" class="form-control form-control-lg" name="pass2" required />
                                                <label class="form-label" for="pass2">Confirm Password</label>
                                                <div id="confirmPasswordWarningSignUp" style="color: red;" class="warning"></div>
                                            </div>
            
                                            <div class="form-outline mb-3">
                                                <input type="checkbox" onclick="togglePassword()" id="showPassword" class="hidden">
                                                <label for="showPassword" class="cursor-pointer">
                                                    <span class="inline-block w-6 h-6 bg-gray-200 rounded-full relative">
                                                        <span class="block w-3 h-3 bg-white rounded-full shadow-md absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 transition duration-300 ease-in-out" id="eyeIcon"></span>
                                                    </span>
                                                </label>
                                                <span class="text-sm ml-2">Show Password</span>
                                            </div>
            
                                            <div class="d-flex align-items-sm-baseline justify-content-center mb-0">
                                              <button id="registerButton" type="submit" class="btn btn-primary bg-blue-500 text-white px-4 py-2">
                                                Register
                                              </button>
                                            </div>
            
                                            <div id="registrationWarning" class="warning"></div>
            
                                        </form>
            
                                        <div style="margin-top: 15px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="text mt-5 text-muted text-center" style="height: 1.5em;">
              <h1 id="typewriter" class="mb-4 text justify-content-center"></h1>
            </div>

          </div>
        </div>
      </section>
      
      <script src="static/javascript/signin.js"></script>
</body>
</html>